* {
   font-family: Arial;
   border: 1px solid black;
} 

.navbox {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.centerpiece {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
