* {
   font-family: Arial;
   border: 1px solid black;
} 

html {
   height: 100%;
   width; 100%;
   margin: 0px;
   padding: 0px;
}

.navbox {
   display: block;
}

.centerpiece {
   display: block;
}
